@model IEnumerable<LibraryProjectModule12.ViewModels.EventViewModel>

@{
    ViewData["Title"] = "Deleted Events";
}

<h1>Deleted Events</h1>

    <table class="table table-striped table-bordered">
        <thead class="table-light">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Date.ToString("dd-MMM-yy HH:mm:ss")</td>
                    <td class="text-nowrap">

                        @if (User.Identity?.IsAuthenticated == true && !User.IsInRole("Admin"))
                        {
                            <a asp-action="EventUser" asp-route-id="@item.Id" class="btn btn-sm btn-success">Participate in Event</a>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Restore" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Undo</a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
